# =========================
# FRONTEND
# =========================

Frontend/frontend/node_modules/
Frontend/frontend/dist/
Frontend/frontend/build/

Frontend/frontend/.env
Frontend/frontend/src/.env

# =========================
# BACKEND
# =========================

Backend/venv/
Backend/env/

**/__pycache__/
*.py[cod]

Backend/db.sqlite3

Backend/.env

Backend/staticfiles/
Backend/media/

# =========================
# SYSTEM FILES
# =========================

.vscode/
.idea/
.DS_Store
Thumbs.db